$color-red: #D81E5D;
$color-yellow: #FEF0D5;
$color-green: #235C55;
$color-gray: #DBDBDB;
$color-gray-dark: #535154;

$width-small: 450px;

body{
	font-family: sans-serif;
}

.header-region{
	background: $color-yellow;
	padding: 10px;
	margin-bottom: 30px;

	.layout{
		display: flex;
		align-items: center;

		@media (max-width: $width-small){
			flex-wrap: wrap;
		}
	}

	.main-logo{
		@media (max-width: $width-small){
			margin: 0 auto;
				}
	}

	.main-logo .image{
		@media (max-width: $width-small){
			width: 70px;
		}
	}

	.site-name{
		margin: 11px 0 0 20px;

		@media (max-width: $width-small){
			margin: 0 auto;
		}
	}

	.share-calendar{
		margin-left: auto;

		@media (max-width: $width-small){
			margin: 0 auto;
		}
	}

	.social-netwoks{
		margin-top: 15px;
		min-height: 18px;
	}
}

.main-logo{

	.image{
		width: 99px;
	}
}

.site-name{
	color: $color-green;
	font-family: 'Roboto Condensed', sans-serif;

	.title{
		font-size: 32px;
		font-weight: bold;
		margin: 0 0 5px 0;
	}

	.description{
		font-size: 16px;
		margin-top: 0;
	}
}

.main-button{
	background: $color-red;
	font-family: sans-serif;
	color: #FFE6DE;
	text-decoration: none;
	padding: 5px 11px;
	border-radius: 14px;
	font-size: 14px;
	font-weight: bold;
	border: 0;
	cursor: pointer;
	transition: 0.5s;

	&:hover{
		background: lighten($color-red, 20%);
		color: $color-gray-dark;
		transition: 0.5s;
	}

	&.-big{
		font-size: 20px;
		font-weight: normal;
		border-radius: 20px;
	}
}

.social-netwoks{
	text-align: center;
}

.color-choise{

	.lable{
		font-weight: bold;
		margin-bottom: 5px;
	}

	.dropdown{
		padding: 5px;
		border: 1px solid $color-gray;
		border-radius: 5px;
	}
}

.singel-calendar{
	margin-top: 50px;
	color: $color-gray-dark;

	.monthname{
		font-family: 'Roboto Condensed', sans-serif;
		margin-bottom: 10px;
		text-align: center;
		font-size: 30px
	}

	.calendar{
		border: 1px solid $color-green;
		border-radius: 10px;
		padding: 15px 10px;
		width: 270px;
	}

	.deletcalendar{
		margin-right: 10px;
		&:hover{
			color: $color-red;
		}
	}

	.addcalendar{
		margin-left: 10px;
		&:hover{
			color: $color-green;
		}
	}

	.calendarcontrol{
		visibility: hidden;
		font-size: 15px;
		vertical-align: middle;
	}

	&:hover .calendarcontrol{
		cursor: pointer;
		visibility: visible;
	}

	.weekdays{
		color: lighten($color-gray-dark, 50%);
	}

	.dayname{
		padding-bottom: 0px;
		font-weight: normal;
		&:last-child{
			color: $color-red;
		}
	}

	.daynumber{
		text-align: center;
		padding: 15px 5px 15px 5px;

		&:hover{
			background: gray;
			cursor: pointer;
		}

		&:last-child{
			color: $color-red;
		}
	}
}

.control-panel{
	padding: 0 10px;
}

.calendar-list {
	padding: 0 10px;

		.layout{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-left: -50px;
	}

	.singel-calendar{
		margin-left: 50px;
	}
}

.registration-form{
	margin: 50px 0;
	padding: 50px 0;
	background: black url('../img/bagraund.jpeg') no-repeat;
	background-size: cover;

	.form-normal{
		opacity: 0;
		transition: 2s;
	}

&:hover .form-normal{
	animation: showform 1s forwards;
	opacity: 1;
	transition: 2s;
}
}

.form-normal{

	.input, .select{
		box-sizing: border-box;
		display: block;
		width: 220px;
		height: 33px;
		margin: 12px  auto;
		border: 1px solid $color-gray-dark;
		padding: 5px;
		box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
	}

	.checkbox, .radio{
		display: block;
		cursor: pointer;
		width: 220px;
		margin: 0 auto;
		color: white;
	}

	.checkbox{
		margin-bottom: 10px;
	}

	.submit{
		display: block;
		margin: 0 auto;
		margin-top: 30px;
	}
}

@keyframes showform{
	0% { margin-left: -2000px; }
	100% { margin-left: 0; }
}

._container{
	max-width: 960px;
	margin: 0 auto;
}